.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.custom-line {
    position: absolute;
    width: 2px;
    background-color: #e5e7eb;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
}

.dark .custom-line {
    background-color: #374151;
}

.line-1 {
    height: 60px;
    top: 80px;
}

.line-2 {
    height: 80px;
    top: 180px;
}

.line-3 {
    height: 90px;
    top: 295px;
}
